.button {
  -fx-background-color: #2dab6a;  /* Green */
  -fx-color: black;
  -fx-padding: 16px 32px;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-margin: 4px 2px;
  -fx-transition-duration: 0.8s;
  -fx-cursor: pointer;
}
.pane {
    -fx-background-color: white;
}
.vbox{
    -fx-background-color: white;
}
.hbox {
    -fx-background-color: white;
    -fx-color: white;
}
.label {
    -fx-background-color: white;
}