.button {
  -fx-background-color: white;  /* Green */
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: #2dab6a;
  -fx-color: white;
  -fx-padding: 16px 32px;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
  -fx-margin: 4px 2px;
  -fx-transition-duration: 0.8s;
  -fx-cursor: pointer;
}
.button:hover{
 -fx-background-color: #2dab6a;
 -fx-color: black;
}
.pane {
    -fx-background-color: white;
}
.vbox{
    -fx-background-color: white;
}
.hbox {
    -fx-background-color: white;
    -fx-color: white;
}
.label {
    -fx-background-color: white;
}